{{ partial "header/header.html" . }}
   
    

{{ .Content | safeHTML }}

<style>
.hide {
    display: none !important;
}
</style>
<div class="alert alert--no-js hide" id="no-js">
  <div class="container" style="display: inherit">
		<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" fill-rule="evenodd">
    <path class="shape" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel" d="M16 1l15 30H1z"></path>
    <path class="symbol" d="M16.898 22.53h-1.36l-.405-7.952h2.164l-.4 7.953zm-1.86 2.493c0-.385.103-.678.306-.878.203-.2.492-.3.867-.3.37 0 .656.103.853.31.198.21.297.5.297.868 0 .37-.1.663-.3.88-.202.215-.484.324-.85.324-.37 0-.657-.105-.862-.313-.206-.208-.31-.505-.31-.89z"></path>
  </g>
</svg>
    <p style="display: inherit"><strong>You have javascript disabled.</strong> We tried to make sure the basics of our website work but some functionality will be missing.</p>
  </div>
</div>

<script>
    window.onload = (function(){
        // let's hope ONE of these removes the javascript warning.

        // first attempt, just adding the 'hide' class to make it display: none
        if(document.getElementById("no-js")) {
            var d = document.getElementById("no-js");
            d.className += " hide";
        }

        // second attempt, let's just remove the entire thing. If it doesn't work... hope the first attempt did work. Note, IE does not support the remove method
        if(document.querySelector("alert--no-js"))
            document.body.removeChild(document.querySelector("alert--no-js"));

    })();
</script>

<div class="cookiewarning" id="cookieConsent" style="display: block;">
    <div class="container">
        <div class="text-center">
            This website is using cookies. By visiting you agree with our <a href="https://nextcloud.com/privacy" target="_blank">privacy policy.</a> <a class="cookieConsentOK">That's Fine</a>
        </div>
    </div>
</div>

{{ partial "footer/site-footer.html" . }}
{{ partial "footer/scripts.html" . }}

</body>
</html>
