<header class="header header--blue">
    <div class="header__container">
        <a href="/" class="header__section header__section--logo">
            
        </a>

        <div class="header__section header__section--middle">
            <span class="header__dropdown">Products</span>
            <span class="header__dropdown">Support</span>
            <span class="header__dropdown">Community</span>
            <span class="header__dropdown">About</span>
        </div>

        <div class="header__section header__section--last">
            <a href="/demo" class="header__link">Demo</a>
            <a href="/download" class="header__link">Download</a>
            <a href="/buy" class="header__link">Buy</a>
        </div>
    </div>
</header>