<header class="header header--blue">
    <div class="header__container">
        <a href="/" class="header__section header__section--logo"></a>

        <div class="header__section header__section--middle">
            <div class="header__dropdown">
                <span class="header__dropdown__title">Products</span>

                <div class="header__dropdown__links">
                    <a href="">Pricing</a>
                </div>
            </div>

            <div class="header__dropdown">
                <span class="header__dropdown__title">Support</span>

                <div class="header__dropdown__links">
                    <a href="https://portal.nextcloud.com">Nextcloud support</a>
                    <a href="https://help.nextcloud.com">Community support</a>
                    <a href="/pricing">Pricing</a>
                    <a href="/support">Documentation</a>
                    <a href="/migration">Migration</a>
                </div>
            </div>

            <div class="header__dropdown">
                <span class="header__dropdown__title">Community</span>

            </div>

            <div class="header__dropdown">
                <span class="header__dropdown__title">About</span>
                
                <div class="header__dropdown__links">
                        <a href="">Pricing</a>
                </div>

            </div>
        </div>

        <div class="header__section header__section--last">
            <a href="/demo" class="header__link">Demo</a>
            <a href="/download" class="header__link">Download</a>
            <a href="/buy" class="header__link">Buy</a>
        </div>

        <div class="header__hamburguer">

        </div>
    </div>
</header>