

<footer class="page-footer">
  <div class="container">
    <div class="col-sm-3">
      <h1 class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">About Nextcloud</h1>
      <ul class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">
        <li>
          <a href="/about">About us</a>
        </li>
        <li>
          <a href="/contributors">Community</a>
        </li>
        <li>
          <a href="/events">Events</a>
        </li>
        <li>
          <a href="/jobs">Jobs</a>
        </li>
        <li>
          <a href="/community/code-of-conduct/">Code of Conduct</a>
        </li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li>
          <a href="/impressum">Legal notice</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h1 class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">Resources</h1>
      <ul class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">
        <li>
          <a href="/install">Download</a>
        </li>
        <li>
          <a href="https://apps.nextcloud.com">App Store</a>
        </li>
        <li>
          <a href="https://docs.nextcloud.com/server/13/admin_manual/">Admin manual</a>
        </li>
        <li>
          <a href="https://docs.nextcloud.com/server/13/user_manual/">User manual</a>
        </li>
        <li>
          <a href="https://docs.nextcloud.com/server/13/developer_manual/">Developer manual</a>
        </li>
        <li>
          <a href="/security">Security</a>
        </li>
        <li>
          <a href="https://github.com/nextcloud">Code on GitHub</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h1 class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">Interact</h1>
      <ul class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">
        <li>
          <a href="/support">Support</a>
        </li>
        <li>
          <a href="https://webchat.freenode.net/?channels=nextcloud">IRC Channel</a>
        </li>
        <li>
          <a href="https://help.nextcloud.com/categories">Forums</a>
        </li>
        <li>
          <a href="https://demo.nextcloud.com">Demo</a>
        </li>
        <li>
          <a href="/contact">Contact us</a>
        </li>
        <li>
          <a href="/press">Press center</a>
        </li>
        <li>
          <a href="https://docs.nextcloud.com/server/13/developer_manual/bugtracker/">Bug Tracker</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h1 class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">Follow us</h1>
      <ul class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">
        <li>
          <a href="https://plus.google.com/b/104036748063781940910/104036748063781940910/about">Google+</a>
        </li>
        <li>
          <a href="https://www.facebook.com/Nextcloud-1032807203462807/">Facebook</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/10827569/">LinkedIn</a>
        </li>
        <li>
          <a href="https://instagram.com/nextclouders">Instagram</a>
        </li>
        <li>
          <a href="https://twitter.com/nextclouders">Twitter</a>
        </li>
        <li>
          <a href="https://youtube.com/nextcloud">YouTube</a>
        </li>
        <li>
          <a href="/blogfeed">RSS Feed</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="revealOnScroll fade-in" style="opacity: 1; display: block; transform: translateY(0px);">&copy; {{ now.Format "2006" }} Nextcloud GmbH</p>
      </div>
    </div>
  </div>
</footer>