<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

{{ partial "header/metadata.html" . }}
{{ partial "header/scripts.html" . }}
{{ partial "header/style.html" . }}

<head>

	<link rel="https://api.w.org/" href="https://nextcloud.com/wp-json/">
	<link rel="alternate" type="application/json+oembed" href="https://nextcloud.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fnextcloud.com%2Fchangelog%2F">
	<link rel="alternate" type="text/xml+oembed" href="https://nextcloud.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fnextcloud.com%2Fchangelog%2F&amp;format=xml">
		<link rel="canonical" href="https://nextcloud.com/changelog/">

</head>

<body class="page page-id-994 changelog not-front">

{{ partial "header/navbar.html" . }}
 
